.card {
    width: 300px;
    height: 450px;
    margin: 50px;
    box-shadow: 0px 0px 10px;
}

.CountryName {
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: 90%;
    margin-left: 10%;
    height: 10%;
}

.CountryDetails {
    margin-top: 10px;
    width: 90%;
    height: 20%;
    margin-left: 10%;

}

.flag {
    width: 100%;
    height: 45%;
}

.flag img {
    width: 100%;
    height: 100%;
}