.searchBar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 15%;
}

.option,
.search {
    width: 20%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px;
}

.fa-search {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input {
    width: 80%;
    height: 100%;
}

.selectOption {
    width: 100%;
    height: 100%;
}