.navBar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    height: 10%;
    box-shadow: 0px 0px 10px;
}

.changeTheme {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    cursor: pointer;
}

.dark {
    color: white;
    background-color: #202D36;
}

.light {
    color: black;
    background-color: white;
}