.CountriesDetails-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    padding-left: 50px;
    padding-right: 50px;
}

.mainContainer {
    width: 100%;
    height: 90%;
}

.backButton {
    display: flex;
    align-items: center;
    padding-left: 50px;
    width: 100%;
    height: 20%;
}

.backButton button {
    width: 100px;
    height: 50px;
    box-shadow: 0px 0px 10px;
}

.aboutCountry {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80%;

}

.allInformation,
.flagg {
    width: 40%;
    height: 60%;
}

.flagg img {
    width: 100%;
    height: 100%;
}

.info {
    display: flex;
    width: 100%;
    height: 80%;
}

.leftInfo,
.rightInfo {
    width: 50%;
    height: 100%;
}

.borderCountries {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20%;
}

.borderCountries-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50%;
    margin-left: 10px;
    box-shadow: 0px 0px 5px;
}